<footer class="text-muted">
  <div class="container">
    <p class="portfolio-footer-alignment">
      <%= copyright_generator %>
      <a href="#" class="float-right;">Back to top</a>
    </p>
  </div>
</footer>
