<h1>Amr Zayet</h1>


<div class="row">
  <div class="col-sm-6">

    <br>
    <%= image_tag("prof.jpeg", width: 350, alt: "profile Image") %>

  </div>

  <div class="col-sm-6">

    <br>
    <p>Just a fresh graduate software engineer. I am proficient in C, C++, Java, and Ruby. I am interested in Artifitial Intelligence, Machine learning, and Back end engineering</p>

    <a href="https://www.linkedin.com/in/amr-zayet/" class="btn btn-lg btn-secondary">LinkedIn</a>

  </div>
</div>

