<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">This is my first full stack web application using Ruby on Rails. I learned how to use the MVC pattern with Rails 7. Then, I implemented authentication and authorization. I am currently dabbling with styles.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>